<!DOCTYPE html>
<html>
<head>
	<title>Welcome to FOAQ!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="#"><strong>FOAQ</strong></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Pricing</a>
	      </li>
	    </ul>
	    <span class="navbar-text">
				Kindly <a href="#">login </a> or <a href="#"> sign up </a>
	    </span>
	  </div>
	</nav>

		<div class="sidebar">
		Trending:
		<ul>
			<li> First news
			</li>
			<li> Second news
			</li>
			<li> Third news
			</li>
		</ul>
		</div>


		<container class="content">
			Featured Topics:
		</container>


<script>
function getShit(link){ 

	fetch("http://api.linkpreview.net/?key=5ae03520de8f276fb6fb9cbea7011e49166d9d4ddbc48&q=" + link) // get JSON DATA
	.then(function(response){  																					// get JSON DATA
		return response.json();																					// get DATA INSIDE JSON DATA (imgs, users, etc.)
	}).then(function(myJson){																					// USE THE DATA RETRIEVE FROM JSON DATA
		const array = myJson.response
		for (let obj of array) {
		const link = obj.photos[0].alt_sizes[1].url;
		const img = document.createElement("img");
		img.src = link;
		div.appendChild(img);
		}
	})
}

</script>
</body>
</html>